@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.sub {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.footerCol ul,
.footerSubCol ul {
    list-style: none;
    padding: 0;
}

.footer {
    background-color: #24262b;
    padding: 30px 0;
}

.footerCol {
    width: 28%;
    padding: 0 15px;
}

.footerSubCol {
    width: 38%;
    padding: 0 15px;
}

.footerCol h4,
.footerSubCol h4 {
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
    position: relative;
}

.footerSubCol p {
    font-size: 12px;
    color: #ffffff;
    font-weight: 400;
    position: relative;
}

.subscription {
    display: flex;
    gap: 10px;
}

.subscription input {
    width: 100%;
    max-width: 280px;
    height: 30px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.subscription button {
    height: 40px;
    padding: 0 20px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.subscription button:hover {
    background-color: #000000;
    color: #ffffff;
}

.footerCol ul li:not(:last-child),
.footerSubCol ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footerCol ul li a,
.footerSubCol ul li a {
    font-size: 16px;
    color: #bbbbbb;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
}

.footerSubCol ul li {
    color: #fff;
}

.footerSubCol ul p {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
}

.footerSubCol ul li img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.footerCol ul li a:hover,
.footerSubCol ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.socialLinks a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.socialLinks a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.paymentOptions {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.copyright {
    display: flex;
    justify-content: center;
    color: #bbbbbb;
}

/* Responsive */
@media (max-width: 767px) {

    .footerCol,
    .footerSubCol {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 574px) {

    .footerCol,
    .footerSubCol {
        width: 100%;
    }
}