.productsContainer {
    display: flex;
    gap: 20px;
    width: 100%;
}

.filterTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.leftSection {
    display: flex;
    gap: 15px;
    font-weight: 700;
}

.leftMobileSection {
    display: none;
}

.hideFilter {
    cursor: pointer;
    color: #333;
    font-weight: 400;
    position: relative;
    border: none;
    background-color: #fff;
}

.rightSection {
    display: flex;
    align-items: center;
    margin-right: 15px;
}


.rightSection select {
    padding: 0px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-padding-end: 0px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-position: center right;
    background-repeat: no-repeat;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.rightSection select::after {
    content: 'v';
    /* Down arrow */
    position: absolute;
    top: 50%;
    right: 1px;
    transform: translateY(-50%);
    font-size: 12px;
    color: #888792;
    pointer-events: none;
}

.dropdown {
    padding: 8px 18px;
    border: 1px solid #ddd;
    /* Border for the dropdown */
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    appearance: none;
    position: relative;
    font-size: 12px !important;

}

.dropdown::after {
    content: 'v';
    /* Down arrow */
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    font-size: 12px;
    color: #888792;
    pointer-events: none;
}

.filterContainer {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.filterContainer h2 {
    font-size: 14px;
    margin-bottom: -16px;
    font-weight: 600;
}

.filterContainer label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    cursor: pointer;
}

.filterContainer select {
    padding: 0px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-position: center right;
    background-repeat: no-repeat;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.filterContainer select::after {
    content: 'v';
    /* Down arrow */
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    font-size: 12px;
    color: #888792;
    pointer-events: none;
}

.productList {
    flex: 1;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.productItem {
    text-align: center;
    transition: box-shadow 0.3s ease;
}

.new {
    /* background: red; */
    position: relative;
    transform: translate(0%, 164%);
    max-width: 56%;
    z-index: 31;
    justify-content: center;
    font-size: 14px;
    font-weight: 700;
    color: #000;
}

.activityCard {
    color: #000;
    position: relative;
    cursor: pointer;
    transition: 0.2s all;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 350px;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.activityCard img:hover {
    -webkit-filter: brightness(80%);
}

.activityCard img {

    width: 100%;
    border-radius: 5px;
    height: 50%;
    object-fit: cover;
}


.activityCard .productName {
    font-weight: 700;
    font-size: 16px;
    color: #252020;
}

.productName p {
    margin: 10px 0;
}

.productDesc {
    display: flex;
    justify-content: space-between;
}

.productDesc p {
    margin: 10px 0;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}

.productName .favirout {
    width: 24px;
    height: 24px;

}

.favirout {
    cursor: pointer;
    font-size: 18px;
    color: #000;
    /* border: 1px solid black;  */
    border-radius: 50%;
    padding: 8px;
    transition: color 0.3s ease;
}

.solid {
    color: red;
}

.mobileFilter {
    cursor: pointer;
    color: #333;
    font-weight: 700;
    position: relative;
    border: none;
    background-color: #fff;
}



@media (max-width: 768px) {
    .productsContainer {
        flex-direction: column;
    }

    .filterContainer {
        width: 100%;
    }

    .leftSection {
        display: flex;
        gap: 15px;
        font-weight: 700;
        font-size: 20px;
    }

    .rightSection select {
        font-size: 20px;
    }

    .filterContainer label {
        font-size: 20px;
    }

    .filterContainer h2 {
        font-size: 25px;
    }


    .hideFilter {
        font-size: 20px;
    }

    .leftMobileSection {
        display: none;
    }

    .gridContainer {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .dropdown {
        font-size: 12px;
        padding: 6px 12px;
    }

  
    .activityCard {
        height: auto;
    }

    .activityCard .productName {
        font-weight: 700;
        font-size: 24px;
        color: #252020;
    }

    .activityCard .productName p {
        font-weight: 700;
        font-size: 26px;
        color: #252020;
    }

    .productDesc p {
        font-size: 24px;
    }

    .favirout {
        font-size: 40px;
    }
}

@media (max-width: 480px) {


    .gridContainer {
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    }

    .dropdown {
        font-size: 10px;
        padding: 4px 4px;
    }

    .dropdown option {
        font-size: 10px;
        width: 50%;
    }

    .leftSection {
        display: none;
    }

    .leftMobileSection {
        display: flex;
        gap: 15px;
        font-weight: 700;
    }

    .activityCard {
        height: auto;
    }

    .activityCard img {
        width: 75%;
        border-radius: 5px;
        height: 50%;
        object-fit: cover;
    }

    .new {

        max-width: 100%;
        transform: translate(-23%, 70%);
    }

    .activityCard .productName {
        font-weight: 700;
        font-size: 18px;
        color: #252020;
    }

    .activityCard .productName p {
        font-weight: 700;
        font-size: 1rem;
        color: #252020;
    }

    .productDesc p {
        font-size: 0.9rem;
    }

    .favirout {
        font-size: 20px;
    }
}